.grid_template {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
  grid-auto-rows: minmax(20%, 1fr);
  grid-gap: 2rem;
  min-width: 100%; 
  margin-bottom: 2rem;
}

.grid__item {
  min-height: 25rem;
  background-color: var(--background-tertiary);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  padding: 2rem;
  border: 1px solid var(--border);
}

.grid__height {
  grid-column: span 2;
  grid-row: span 2;
}

.grid__wide {
  grid-column: span 2;
}
