// styles/theme.scss
:root {
    //global
    --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    // Light Theme Colors
    --primary-color-light: #2589e6;
    --color-light: #161616;
    --color-light-secondary: #7a7a7a;
    --background-light: #f8f9fa;
    --background-light-secondary: #f1f3f5;
    --hover-light: #e9ecef;
    --separator-light: #dee2e6;


    // Dark Theme Colors
    --primary-color-dark: #ff6b6b;
    --color-dark: #fff;
    --color-dark-secondary: #999;
    --background-dark: #212529;
    --background-dark-secondary: #343a40;
    --hover-dark: #495057;
    --separator-dark: #495057;
  }
  
  [data-theme='light'] {
    --primary-color: var(--primary-color-light);
    --color: var(--color-light);
    --color-secondary: var(--color-light-secondary);
    --background: var(--background-light);
    --background-secondary: var(--background-light-secondary);
    --hover : var(--hover-light);
    --separator: var(--separator-light);
  }
  
  [data-theme='dark'] {
    --primary-color: var(--primary-color-dark);
    --color: var(--color-dark);
    --color-secondary: var(--color-dark-secondary);
    --background: var(--background-dark);
    --background-secondary: var(--background-dark-secondary);
    --hover : var(--hover-dark);
    --separator: var(--separator-dark);
  }
  